
.hero_section {
    /* background-color: rgb(102, 102, 96); */
    background-color: rgb(240, 240, 240);
}
.section_title{
 /* background-color: yellow; */
 padding: 12px;
 margin: 12px;
}

.hero_content h2 {
    color: var(--primary-color);
    font-size: 2.5rem;
    font-weight: 600;
    margin: 10px 0px;
}

.hero_content p {
    color: rgb(175, 180, 102);
    line-height: 28px;
}

.shop_btn {
    border: none;
    outline: none;
    padding: 8px 20px;
    border-radius:  5px;
    background-color: rgb(202, 159, 41);
    color: aliceblue;
    cursor: pointer;
    font-style: 1rem;
}
.shop_btn a:hover {
    color: aliceblue;
}

.hero_content {
    padding-top: 45px;
}
/* .hero_img {
    padding-top: 25px; 
    height: 500px;
    /* /* width: 400px; */


@media only screen and (max-width: 1200px) {
    .hero_img{
        height: 500px; 
         width: 500px; 
         padding-top: 50px;
    }
  }